.hr {
  border-top: none rgb(244, 67, 54);
  border-right: none rgb(244, 67, 54);
  border-bottom: 2px solid rgb(244, 67, 54);
  border-left: none rgb(244, 67, 54);
  border-image: initial;
  box-sizing: content-box;
  margin: 0;
  position: relative;
  transform: scaleX(1);
  top: -12px;
}
