$break-lg: 925px;
$break-md: 700px;
$break-sm: 520px;

.detailsViewWrapper {
  width: 900px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 45px;

  @media screen and (max-width: $break-lg) {
    width: 680px;
  }

  @media screen and (max-width: $break-md) {
    width: 480px;
  }

  @media screen and (max-width: $break-sm) {
    width: 100%;
    [data-react-toolbox="card"] {
      border-radius: 0;
    }
    margin-bottom: 0;
  }
}

.eventView {
  padding: 3em 2em 2em 3em;

  @media screen and (max-width: $break-md) {
    padding: 2em 1em 1em 2em;
  }
}

.eventTitle {
  font-size: 3.4rem;

  @media screen and (max-width: $break-lg) {
    font-size: 2.8rem;
  }

  @media screen and (max-width: $break-md) {
    font-size: 2.2rem;
  }

  @media screen and (max-width: $break-sm) {
    font-size: 1.6em;
    word-wrap: break-word;
  }
}

.progressBar {
  display: block;
  margin: 180px auto;
}

.additional {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px
}

.additionalColumn {
  flex: 1;
  min-width: 150px;
  max-width: 250px;
}

.nearbyEventsWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.showNearbyEvents {
  width: 100%;
  margin-bottom: 20px;
}
